.Rproj.user/CEECB8B4/build_options
*.pper
.Rproj.user/CEECB8B4/saved_source_markers
*.Rhistory
.Rproj.user/CEECB8B4/rmd-outputs
.Rproj.user/CEECB8B4/sdb/per/t/C6E60FB
*.json
.Rproj.user/CEECB8B4/sdb/prop/INDEX
.Rproj.user/CEECB8B4/sdb/prop/21AFE87D
*.RData
